<%- include('header') %>

<nav class="nav justify-content-center">
    <a class="nav-link active" href="/">Principal</a>
    <a class="nav-link" href="/categorias">Categorias</a>
    <a class="nav-link" href="/publicacoes">Publicações</a>
</nav>

<%- include('footer') %>