<%- include('../header') %>

<nav class="nav justify-content-center">
    <a class="nav-link active" href="/">Principal</a>
    <a class="nav-link" href="/categorias">Categorias</a>
    <a class="nav-link" href="/publicacoes">Publicações</a>
</nav>

<form method='POST' action='/categorias/editar/<%= itemAtual.id %>'>
    <div class="form-group">
        <label for="exampleInput">Titulo</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="Insira o titulo" name='titulo'
            value='<%= itemAtual.titulo %>'>
    </div>

    <a class="btn btn-secondary" href="/categorias">Cancelar</a>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

<%- include('../footer') %>