<%- include('../header') %>

<nav class="nav justify-content-center">
    <a class="nav-link active" href="/">Principal</a>
    <a class="nav-link" href="/categorias">Categorias</a>
    <a class="nav-link" href="/publicacoes">Publicações</a>
</nav>

<p>
    <a class="btn btn-info" href="/categorias/nova">Nova</a>
</p>

<% if(items.length == 0) { %>
    <div class="alert alert-info" role="alert">
        Nenhum registro encontrado
    </div>
    
<% } else { %>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <tbody>
            <% items.forEach(itemAtual => { %>
            <tr>
                <td>
                    <%= itemAtual.id %>
                </td>
                <td>
                    <%= itemAtual.titulo %>
                </td>
                <td>
                    <a class="btn btn-warning" href='/categorias/editar/<%= itemAtual.id %>'>Editar</a>
                    <a class="btn btn-danger" href='/categorias/excluir/<%= itemAtual.id %>'>Excluir</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

<% } %>
    
<%- include('../footer') %>