<%- include('../header') %>

<nav class="nav justify-content-center">
    <a class="nav-link active" href="/">Principal</a>
    <a class="nav-link" href="/categorias">Categorias</a>
    <a class="nav-link" href="/publicacoes">Publicações</a>
</nav>

<p>
    <a class="btn btn-info" href="/publicacoes/nova">Nova</a>
</p>

<script>
    function redirecionarCategoria(idCategoria) {
        if (idCategoria === 'todos') {
            window.location.href = "/publicacoes"
        } else {
            window.location.href = "/publicacoes/categoria/" + idCategoria
        }
    }
</script>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filtrar Categorias
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

        <button class="dropdown-item" type="button" onClick="redirecionarCategoria('todos')">- Todos -</button>

        <% itemsCategorias.forEach(catAtual => { %>
        <button class="dropdown-item" type="button" onClick="redirecionarCategoria('<%= catAtual.id %>')">
            <%= catAtual.titulo %></button>
        <% }) %>
    </div>
</div>

<% if(items.length == 0) { %>
    <div class="alert alert-info" role="alert">
        Nenhum registro encontrado
    </div>
    
<% } else { %>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Conteudo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <tbody>
            <% items.forEach(itemAtual => { %>
            <tr>
                <td>
                    <%= itemAtual.id %>
                </td>
                <td>
                    <%= itemAtual.titulo %>
                </td>
                <td>
                    <%= itemAtual.conteudo %>
                </td>
                <td>
                    <%= itemAtual.categoria.titulo %>
                </td>
                <td>
                    <a class="btn btn-warning" href='/publicacoes/editar/<%= itemAtual.id %>'>Editar</a>
                    <a class="btn btn-danger" href='/publicacoes/excluir/<%= itemAtual.id %>'>Excluir</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<%- include('../footer') %>