<%- include('../header') %>

<nav class="nav justify-content-center">
    <a class="nav-link active" href="/">Principal</a>
    <a class="nav-link" href="/categorias">Categorias</a>
    <a class="nav-link" href="/publicacoes">Publicações</a>
</nav>

<form method='POST' action='/publicacoes/nova'>
    <div class="form-group">
        <label for="exampleInputTitulo">Titulo</label>
        <input type="text" class="form-control" id="exampleInputTitulo" placeholder="Insira o titulo" name='titulo'>
    </div>

    <div class="form-group">
            <label for="exampleInputConteudo">Conteudo</label>
            <textarea type='text' class="form-control" id="exampleInputConteudo" name='conteudo'></textarea>
    </div>
    
    <div class="form-group">
        <label for="exampleInputCategoria">Categoria</label>
        <select name='idcategoria' class="form-control" id="exampleInputCategoria">
            <% items.forEach(catAtual => { %>
            <option value='<%= catAtual.id %>'>
                <%= catAtual.titulo %>
            </option>
            <% }) %>
        </select>
    </div>

    <a class="btn btn-secondary" href="/publicacoes">Cancelar</a>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>

<%- include('../footer') %>